.container {
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
}

.frase {
    text-align: center;
}

.botao {
    margin: auto;
    width: 100%;
    height: 30px;
    border-radius: 10px;
}